h5 {
    font-family: Gill Sans Extrabold, sans-serif;
}

.highlight {
    color: darkgreen;
}

.lowlight {
    color: darkred;
}

section, address {
    margin-top: 1rem;
}

label {
    display: block;
}