<!DOCTYPE html>
<html lang="en">
<head>
    <title>VueClient</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <link rel="icon" type="image/png" sizes="32x32" href="./favicon.png">

    <!-- Vue Dev Library -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <!-- Client App Configs -->
    <script src="./configs.js"></script>
    <link rel="stylesheet" type="text/css" href= "./css/index.css" >
</head>

<body>
<header>
    <h2 id="message">Welcome to the <span class="highlight">VueClient</span> Client<br /> {{display}}</h2>
</header>

<main>
    <section id="departments">
<!--        <button v-on:click="getDepartments">Fetch Department Data</button>-->
        <div v-if="failure">
            <aside class="lowlight">Failed To Fetch Department Records</aside>
        </div>
        <div v-else-if="depts.length">
            <table>
                <caption>
                    The Departments
                </caption>

                <colgroup>
                    <col/>
                    <col/>
                    <col/>
                    <col/>
                </colgroup>

                <thead>
                <tr>
                    <th scope="col">Dept_No</th>
                    <th scope="col">Dept_Name</th>
                    <th scope="col">First_Name</th>
                    <th scope="col">Last_Name</th>
                </tr>
                </thead>

                <tbody v-for="department in depts" :key="department.emp_no">
                   <td>{{department.dept_no}}</td>
                   <td>{{department.dept_name}}</td>
                   <td>{{department.first_name}}</td>
                   <td>{{department.last_name}}</td>
                </tbody>
            </table>
        </div>
        <div v-else>
            <aside>No Department Data</aside>
        </div>
    </section>

    <section id="employees">
        <button v-on:click="getEmployees">Fetch Employee Data</button>
        <label>
            Gender:
            <select v-model="gender">
                <option disabled value="">Please select a valid option</option>
                <option value="M">Male</option>
                <option value="F">Female</option>
            </select>
        </label>

        <label>
            Hire Date:
            <input v-model="hireDate" type="date" />
        </label>
        <div v-if="failure">
            <aside className="lowlight">Failed To Fetch Employee Records</aside>
        </div>
        <div v-else-if="employees.length">
            <table>
                <caption>
                    The Employees
                </caption>

                <colgroup>
                    <col/>
                    <col/>
                    <col/>
                    <col/>
                    <col/>
                    <col/>
                </colgroup>

                <thead>
                <tr>
                    <th scope="col">Emp_No</th>
                    <th scope="col">Birth_Date</th>
                    <th scope="col">First_Name</th>
                    <th scope="col">Last_Name</th>
                    <th scope="col">Gender</th>
                    <th scope="col">Hire_Date</th>
                </tr>
                </thead>

                <tbody v-for="employee in employees" :key="employee.emp_no">
                <tr>
                    <td>{{employee.emp_no}}</td>
                    <td>{{employee.birth_date}}</td>
                    <td>{{employee.first_name}}</td>
                    <td>{{employee.last_name}}</td>
                    <td>{{employee.gender}}</td>
                    <td>{{employee.hire_date}}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div v-else>
            <aside>No Employee Data</aside>
        </div>
    </section>

    <section id="create-employee">
        <button v-on:click="createEmployee">Create New Employee</button>

        <label>
            Emp_No:
            <input v-model="empNo" type="number" />
        </label>

        <label>
            Birth Date:
            <input v-model="birthDate" type="date" />
        </label>

        <label>
            First Name:
            <input v-model="firstName" type="text" />
        </label>

        <label>
            Last Name:
            <input v-model="lastName" type="text">
        </label>

        <label>
            Gender:
            <select v-model="gender">
                <option value="" hidden disabled>Please select a valid option</option>
                <option value="M">Male</option>
                <option value="F">Female</option>
            </select>
        </label>

        <label>
            Hire Date After:
            <input v-model="hireDate" type="date">
        </label>
        <div v-if="success">
            <aside className="highlight">Successfully Created New Employee</aside>
        </div>
        <div v-else-if="failure">
            <aside className="lowlight">Failed To Create New Employee</aside>
        </div>
    </section>
</main>

<footer>
    <address>
        <label>Contact information:</label>
        <label>Toll-free: <a href="tel:+1-888-629-8620" target="_blank">1-888-629-8620</a></label>

        <label><a href="mailto:info@mitechisys.com">info@mitechisys.com</a></label>
    </address>
</footer>

<script src="javaScript.js"></script>

</body>

</html>